<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gamers point</title>
</head>

<body>
    <div class="jumbotron jumbotron" style="background-color:black;">
        <div class="container  text-center">
            <div class="card col-12 col-md-6 col-lg-6"></div>
            <img class="card-img" src="/static/img/6.jpg" alt="Card image cap">
            <h1 style="color:rgb(171, 221, 219);">GAMERS POINT</h1>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-6">
                <img class="card-img-top" src="/static/img/3.jpg" alt="Card image cap">
            </div>

            <div class="col-6">
                <h1 class="text-right">Gaming con</h1>
                <h1 class="text-right">Saveetha engineering college</h1>
                <h1 class="text-right">9:00 am - 8:00pm</h1>
                <h1 class="text-right">29.11.2021</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-right">
                <a href="/register/" class="btn btn-primary btn-lg" role="button">Compete</a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>